@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  font-family: "Roboto", sans-serif;
}

input:-webkit-autofill{
  background: transparent;
}

@media screen and (max-width: 820px) {
  .dropdown {
    top: 70px;
  }
  
}

@media screen and (max-width: 430px) {
  .dropdown {
    top: 70px;
  }

  .clubHeader {
    height: 20vh;
  }

  .clubBlock {
    display: flex;
    flex-direction: column;
  }

  .clubBlockTwo {
    display: flex;
    flex-direction: column;
    margin: 0 auto !important;
    text-align: center !important;
  }

  .clubSocial {
    display: flex;
    margin: 0 auto !important;
    text-align: center !important;
  }

  .clubBlockTwo img {
    width: 50%;
  }

  .reservation {
    display: flex;
    flex-direction: column;
  }

  .eventBody {
    margin-top: 0px;
    text-align: center;
  }

  .eventTime {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    height: 35vh;
  }

  .eventPrice {
    margin-top: 50px;
    height: 10vh;
  }

  .eventBtn {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-width: 375px) {
  .dropdown {
    top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .dropdown {
    top: 120px;
  }
}